<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <samjuk_media_proxy>
            <general>
                <enabled>0</enabled>
                <mode>proxy</mode>
                <upstream_host/>
                <timeout>10</timeout>
                <upstream_username/>
                <upstream_password/>
            </general>
        </samjuk_media_proxy>
    </default>
</config>
